/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000;
    background-color: #fff;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Navigation styles */
.bottom-nav {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #fff;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    padding: 10px;
    z-index: 1000;
}

.bottom-nav ul {
    list-style-type: none;
    display: flex;
}

.bottom-nav li {
    margin-right: 20px;
}

.bottom-nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: all 0.3s ease;
}

.bottom-nav a:hover,
.bottom-nav a.active {
    border-bottom: 2px solid #000;
}

/* Home page styles */
.home {
    height: calc(150vh - 60px); /* Subtract the height of the nav bar */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px;
    padding-bottom: 80px; /* Add extra padding at the bottom for the nav bar */
}

.hero-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Our Story page specific styles */
.headshot-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.headshot {
    max-width: 100%;
    height: auto;
    border: 2px solid #000;
    max-height: 250px; /* Adjust this value as needed */
}

/* Shared styles for Our Story, Blog, Blog Post, and Podcast */
.our-story,
.blog,
.blog-post,
.podcast {
    max-width: 800px;
    margin: 0 auto;
    height: calc(100vh - 60px); /* Full viewport height minus nav bar */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
}

.our-story h1,
.blog h1,
.blog-post h1,
.podcast h1 {
    margin-bottom: 0px;
}

.our-story .content,
.blog .blog-list-container,
.post-content,
.podcast .content {
    flex: 1;
    overflow-y: auto;
    padding-right: 20px; /* Add some padding for the scrollbar */
}

.our-story .content p,
.post-content p,
.podcast .content p {
    margin-bottom: 0px;
}

/* Blog specific styles */
.blog-list-container {
    width: 100%;
    overflow-x: hidden;
}

.blog-list {
    list-style-type: none;
}

.blog-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    margin-bottom: 0px;
    text-decoration: none;
    color: #000;
    transition: all 0.3s ease;
}

.blog-link:hover {
    background-color: #000;
    color: #fff;
}

.blog-link .date {
    font-size: 0.8em;
    min-width: 50%; 
    padding: 0 10px;
}

.blog-link .title {
    flex-grow: 1;
    margin: 0 20px;
    padding: 0 10px;
}

.blog-link .arrow {
    font-size: 1.2em;
    padding: 0 10px;
}

/* Blog post specific styles */
.return-link {
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 20px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #000;
    transition: all 0.3s ease;
    align-self: flex-start;
}

.return-link:hover {
    background-color: #000;
    color: #fff;
}

.blog-post article {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.blog-post article header {
    margin-bottom: 0px;
}

.blog-post time {
    display: block;
    font-style: italic;
    margin-bottom: 20px;
}

/* Podcast specific styles */
.podcast-embed {
    margin-top: 20px;
}

.listen-message, .listen-below {
    font-weight: bold;
    margin: 30px 0 15px;
}

.podcast-buttons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.podcast-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    border: 2px solid #000;
    margin-right: 10px;
    width: 120px;
    text-align: center;
}

.podcast-button:hover {
    background-color: #000;
    color: #fff;
}

.podcast-button.spotify {
    border-color: #1DB954;
}

.podcast-button.apple {
    border-color: #D56DFB;
}

/* Customize scrollbar for webkit browsers */
.our-story .content::-webkit-scrollbar,
.blog .blog-list-container::-webkit-scrollbar,
.post-content::-webkit-scrollbar,
.podcast .content::-webkit-scrollbar {
    width: 8px;
}

.our-story .content::-webkit-scrollbar-track,
.blog .blog-list-container::-webkit-scrollbar-track,
.post-content::-webkit-scrollbar-track,
.podcast .content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.our-story .content::-webkit-scrollbar-thumb,
.blog .blog-list-container::-webkit-scrollbar-thumb,
.post-content::-webkit-scrollbar-thumb,
.podcast .content::-webkit-scrollbar-thumb {
    background: #888;
}

.our-story .content::-webkit-scrollbar-thumb:hover,
.blog .blog-list-container::-webkit-scrollbar-thumb:hover,
.post-content::-webkit-scrollbar-thumb:hover,
.podcast .content::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Responsive styles */
@media (max-width: 768px) {
    body {
        overflow-y: auto;
    }
    
    .home {
        height: calc(100vh - 80px); /* Adjust for larger bottom nav on mobile */
        padding-bottom: 50px; /* Increase bottom padding for mobile */
    }
    .hero-image {
        max-width: 170%;
        max-height: 100%;
        object-fit: contain;
    }
    .podcast-buttons {
        display: inline;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .podcast-button {
        margin-bottom: 0;
        padding: 8px 15px;
        width: 100px;
        font-size: 14px;
    }

    .return-link {
        font-size: small;
        display: inline-block;
        padding: 5px 15px;
        margin-bottom: 10px;
        color: #000;
        text-decoration: none;
        font-weight: bold;
        border: 2px solid #000;
        transition: all 0.3s ease;
        align-self: flex-start;
    }
    .our-story,
    .blog,
    .blog-post,
    .podcast {
        max-width: 500px;
        margin: 0 auto;
        height: auto; /* Remove fixed height */
        display: block; /* Change from flex to block */
        overflow: visible; /* Allow content to flow naturally */
        padding: 20px;
        padding-bottom: 80px; /* Add extra padding at the bottom for the nav bar */
    }

    .our-story .content,
    .blog .blog-list-container,
    .post-content,
    .podcast .content {
        height: auto; /* Remove fixed height */
        overflow: visible; /* Remove internal scrollbar */
    }

     .star-container {
        width: 50px; /* Adjust the width as needed */
        height: 50px; /* Adjust the height as needed */
      }
      
      .star {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

    main {
        margin-bottom: 60px; /* Add margin to prevent content from being hidden behind the nav bar */
    }

    .bottom-nav {
        width: 100%;
        border-left: none;
    }

    .bottom-nav ul {
        justify-content: space-around;
    }

    .bottom-nav li {
        margin-right: 0;
    }

    .blog-link {
        flex-direction: column;
        align-items: flex-start;
    }

    .blog-link .title {
        margin: 0px 0;
    }

    .podcast-buttons {
        flex-direction: column;
    }

    .podcast-button {
        margin-bottom: 10px;
    }
}
